{% extends 'base.html' %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Абонементы</h1>
  <p class="fs-5 text-muted">Здесь вы можете преобрести все акутальные
                                                     абонементы на 2022 год.</p>
</div>
<main>
  <div class="row row-cols-3 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Поппинг</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">3500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Стиль танца, основанный на сокращении<br>пап или хит.</li>
                <li>1 занятие в неделю</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Модерн</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">4500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Одно из направлений современной зарубежной хореографии</li>
                <li>2 занятия в неделю</li>
                <li></li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Контемпорари</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">5500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Современный сценический танец, включающий<br>самые различные направления и техники.</li>
                <li>3 занятия в неделю</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Локинг</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">2500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Фанковый стиль танца, ассоциируемый также с хип-хопом.</li>
                <li>2 занятия в неделю</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Хип-Хоп</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">4500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Относится к уличным танцевальным стилям, в основном<br>сопровождаемый хип-хоп музыкой.</li>
                <li>2 занятия в неделю</li>
                <li></li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Дэнсхолл</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">4500<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Уличный ямайский танец, который включает в себя<br>множество социальных танцев.</li>
                <li>3 занятия в неделю</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Вог</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">--<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Извините, но курсы, по данному направлению танцев, временно отсутствуют.</li>
                <li>--</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Приобрести</button>
            </div>
          </div>
        </div>
      </div>
  </main>

{% endblock %}
